<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>Autores</title>

<main class="container">

	<h2 class="h2 m-5 fw-semibold text-center fs-1 text-primary">AUTORES</h2>

	<div th:each="a : ${autores}" class="list-group container container d-flex align-items-center"
		style="max-width: 65%;">
		<img src="..." class="img-fluid border border-3 border-dark-75 rounded-top-1 shadow" style="width: 100%;" alt="..."
			th:src="${'https://picsum.photos/300/200?' + a.id}">
		<p
			class="bg-light border rounded shadow fw-semibold   list-group-item d-flex justify-content-center align-items-start mb-2 mt-4"
			th:text="${a.nombre + ' ' + a.apellidos}" style="width: 85%;">Nombre: apellidos</p>
		<p class="bg-light border rounded shadow fw-semibold list-group-item text-center"
			th:text="${a.email}"  style="width: 85%;">Email</p>

		<p class="d-inline-flex gap-1 d-flex justify-content-center">
			<a class="btn btn-secondary shadow fw-semibold" data-bs-toggle="collapse"
				th:href="${'#id' + a.id}" role="button" aria-expanded="false"
				aria-controls="${a.id}">Libros del Autor</a>
		</p>

		<div class="collapse mb-5" th:id="${'id' + a.id}">
			<div class="card card-body">
				<ul class="list-group list-group-flush" th:each="l : ${a.libros}">
					<li class="list-group-item" th:text="${'Título: ' + l.titulo + ', ' + 'Precio: ' + ' ' + l.precio + '€'}">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Nombre: precio</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	<hr class="hr border border-secondary border-3 opacity-75 my-5">
	</div>




</main>

</html>