<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

	<meta charset="UTF-8">
	<title>Página Principal</title>

	<main>
		<ul th:each="l: ${libros}">

			<li th:text="${l.titulo + ': ' + l.precio}">Titulo: precio</li>
			<p>Descripción</p>
			<p th:text="${l.descripcion}">Descripcion</p>
			<p class="py-1" th:text="'ISBN: ' + ${l.isbn}"></p>
			<a class="btn btn-primary mt-2" th:href="@{/} + ${l.id}" href="detalle-libro.html">Detalle del Libro</a>

		</ul>
	</main>

</html>