<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<title>Inicio de sesión</title>
<main>
	<div class="container mt-5">
	<form  class="d-flex flex-column align-items-center" th:action="@{/login}" action="login.html" method="post">
		<div class="mb-2">
			<label class="text-center fw-semibold">Usuario <input placeholder="email" autofocus="autofocus" type="email" class="form-control border border-primary border-2" name="username" /></label>
		</div>
		<div>
			<label class="text-center fw-semibold">Contraseña <input placeholder="contraseña" type="password" class="form-control border border-primary border-2" name="password"/></label>
		</div>
		<div>
			<button class="btn btn-primary my-4">Iniciar Sesión</button>
		</div>
		<div th:if="${param.error}">Usuario o contraseña incorrectos.</div>
		<div th:if="${param.logout}">Se ha cerrado la sesión</div>
	</form>
	</div>
</main>
</html>